<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Contact me:</li><li><a class="u-email" href="mailto:sadkins@som.umaryland.edu">sadkins@som.umaryland.edu</a></li></ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Hello, my name is Ricky "Shaun" Adkins, and welcome to my personal site.  Here, you will find a little bit of information about me, my CV, work and personal projects I've been involved in, and other miscellaneous things.
</p>
      </div>
    </div>
  </div>
</footer>
