---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %d, %Y" }}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <small>
    {% for tag in page.tags %}
    <a class="post-tags" href="/tags/{{ tag }}/">{{ tag }}</a>
    {% endfor %}
  </small>

</article>
